<%= form_for(@service_station_administrator) do |f| %>
  <% if @service_station_administrator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_station_administrator.errors.count, "error") %> prohibited this service_station_administrator from being saved:</h2>

      <ul>
      <% @service_station_administrator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service_station_id %><br>
    <%= f.number_field :service_station_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
