<p id="notice"><%= notice %></p>

<p>
  <strong>Service item product:</strong>
  <%= @service_item_product_auto_model_ship.service_item_product_id %>
</p>

<p>
  <strong>Auto model:</strong>
  <%= @service_item_product_auto_model_ship.auto_model_id %>
</p>

<%= link_to 'Edit', edit_service_item_product_auto_model_ship_path(@service_item_product_auto_model_ship) %> |
<%= link_to 'Back', service_item_product_auto_model_ships_path %>
