


<section id="content">
  <div class="container">
    <div class="row">
      <h1><%= t("list_user") %></h1>
      <div class="col-lg-8">
        <table class="table-bordered">
          <thead>
          <tr>
            <% @roles.each do |role| %>
              <th><%= role.name %></th>
            <% end %>
          </tr>
          </thead>

          <tbody>
          <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <% @roles.each do |role| %>
                  <% if user.has_role? role.name %>
                    <td>OK</td>
                  <% end %>
                <% end %>
                <!--
                <td><%= link_to 'Show', user %></td>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                -->
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= link_to 'New User', new_user_path %>
      </div>
    </div>
  </div>
</section>



