
<section id="content">
  <div class="container">
    <div class="row">
      <h1 class="text-center big-title"><%= t("list_customer") %></h1>
    </div>
      <table class="table-bordered row col-md-12 col-xs-12">
        <thead>
        <tr>
          <th class="col-md-6 col-xs-6"><%= t("activerecord.attributes.customer.user") %></th>
          <th class="col-md-3 col-xs-3"><%= t("activerecord.attributes.customer.account") %></th>
          <th class="col-md-3 col-xs-3"><%= t("activerecord.attributes.customer.user_point") %></th>
        </tr>
        </thead>

        <tbody>
        <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.user.name %></td>
              <td><%= customer.amount %></td>
              <td><%= customer.user_point %></td>
            </tr>ssss
        <% end %>
        </tbody>
      </table>
    <%= link_to t("new_customer"), new_service_station_customer_path, :class => 'col-md-12 col-xs-12 btn btn-success' %>
  </div>

</section>


