
<section id="content">
  <div class="container">
    <h1 class="text-center big-title"><%= t("new_customer") %></h1>

    <%= form_tag controller: 'customers', action: 'create', method: 'post' do %>
      <div class="row">
        <%= label_tag :phone, t('activerecord.attributes.service_station.phone'), class: 'col-md-2 col-xs-3' %>
        <%= text_field_tag  :phone, nil, class: 'col-md-10 col-xs-9' %>
      </div>
      <div class="row">
        <%= submit_tag t("new_customer"), class:'btn btn-success col-md-12 col-xs-12 col-sm-12' %>
      </div>

    <% end %>


    <%= link_to 'Back', customers_path %>
  </div>
</section>

