<%= form_for(@service_station) do |f| %>
  <% if @service_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_station.errors.count, "error") %> prohibited this service_station from being saved:</h2>

      <ul>
      <% @service_station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %><br>
    <%= f.text_field :mobile_phone %>
  </div>
  <div class="field">
    <%= f.label :office_phone %><br>
    <%= f.text_field :office_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
