<p id="notice"><%= notice %></p>
<section id="content">
  <div class="container">
    <p>
      <strong><%= t("activerecord.attributes.service_station.name") %></strong>
      <%= @service_station.name %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.service_station.address") %></strong>
      <%= @service_station.address %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.service_station.location") %></strong>
      <%= @service_station.location %>
    </p>
    <p>
      <strong><%= t("activerecord.attributes.service_station.mobile_phone") %></strong>
      <%= @service_station.mobile_phone %>
    </p>
    <p>
      <strong><%= t("activerecord.attributes.service_station.office_phone") %></strong>
      <%= @service_station.office_phone %>
    </p>

    <%= link_to 'Edit', edit_service_station_path(@service_station) %> |
    <%= link_to 'Back', service_stations_path %>

  </div>
</section>
