<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_station.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @service_station.address %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @service_station.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @service_station.latitude %>
</p>

<%= link_to 'Edit', edit_service_station_path(@service_station) %> |
<%= link_to 'Back', service_stations_path %>
