<%= form_for(@user_record, html:{class: 'form-horizontal'}) do |f| %>
  <% if @user_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_record.errors.count, "error") %> prohibited this user_record from being saved:</h2>

      <ul>
      <% @user_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</br>
  <div class="form-group">
    <%= f.label :auto_brand_id, class:'control-label' %>
    <%= f.select :auto_brand_id, auto_brand_options, {}, class: 'form-control' %>
    <%= f.label :auto_model_id, class:'control-label' %>
    <%= f.select :auto_model_id, {}, { prompt: '请先选择品牌', class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :purchasing_date, class:'control-label' %>
    <%= f.text_field :purchasing_date, class: 'form-control datepicker' %>
    <%= f.label :mile, class:'control-label' %>
    <%= f.number_field :mile, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit ("完成"), class: "btn btn-primary btn-lg"%>
  </div>


<% end %>
