<%= form_for(@user_record, html:{class: 'form-horizontal form-info', role: 'form'}) do |f| %>
  <% if @user_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_record.errors.count, "error") %> prohibited this user_record from being saved:</h2>

      <ul>
      <% @user_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</br>

  <div class="row">
    <div class="singlerow">
      <%= f.label :auto_brand_id, class: 'col-xs-4 col-sm-4 col-md-1 col-md-offset-1' %>
      <%= f.select :auto_brand_id, auto_brand_options, {}, class: 'col-xs-8 col-sm-8 col-md-3 form-item' %>
    </div>
    <div class="singlerow">
      <%= f.label :auto_model_id, class: 'col-xs-4 col-sm-4 col-md-1 col-md-offset-2' %>
      <%= f.select :auto_model_id, {}, { prompt: '请先选择品牌'}, class: 'col-xs-8 col-sm-8 col-md-3 form-item' %>
    </div>

  </div>
  <div class="clearfix"> </div>
  <div class="row">
    <div class="singlerow">
      <%= f.label :purchasing_date, class: 'col-xs-4 col-sm-4 col-md-1 col-md-offset-1' %>
      <%= f.text_field :purchasing_date, class: 'datepicker col-xs-8 col-sm-8 col-md-3 form-item' %>
    </div>
    <div class="singlerow">
      <%= f.label :mile, class: 'col-xs-4 col-sm-4 col-md-1 col-md-offset-2' %>
      <%= f.number_field :mile, class: 'col-xs-8 col-sm-8 col-md-3 form-item' %>
    </div>
  </div>


  <%= f.submit ("完成"), class: "btn btn-primary btn-lg"%>

<% end %>
