<% content_for :head do %>
<script type="text/javascript">
    function browserRedirect() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        //document.writeln("您的浏览设备为：");
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            //document.writeln("phone");
            //alert("phone");
            self.location="/m"
        } else {
            //document.writeln("pc");
            //alert("pc")
        }
    }

    browserRedirect();
</script>
<% end %>
<div class="col-md-1 col-md-offset-1 title">
  车型</br>选择
</div>
<div class="information">
  <%= form_for(@user_record, html:{class: 'form-horizontal form-info', role: 'form'}) do |f| %>
    <div class="row">

      <div class="col-md-8" id="input-group">
        <div class="input-item col-md-5">
          <%= f.label :auto_brand_id, class: 'col-md-3' %>
          <%= f.select :auto_brand_id, auto_brand_options, {}, class: 'col-xs-8 col-sm-8 col-md-9' %>
        </div>
        <div class="input-item col-md-7">
          <%= f.label :auto_model_id, class: 'col-xs-4 col-sm-4 col-md-2 col-md-offset-1' %>
          <%= f.select :auto_model_id, {}, { prompt: '请先选择品牌'}, class: 'col-xs-8 col-sm-8 col-md-9' %>
        </div>

        <div class="clearfix"></div>

        <div class="input-item col-md-5">
          <%= f.label :purchasing_date, class: 'col-xs-4 col-sm-4 col-md-3' %>
          <%= f.text_field :purchasing_date, class: 'datepicker col-xs-8 col-sm-8 col-md-9' %>
        </div>
        <div class="input-item col-md-7">
          <%= f.label :mile, class: 'col-xs-4 col-sm-4 col-md-2 col-md-offset-1' %>
          <%= f.text_field :mile, class: 'col-xs-8 col-sm-8 col-md-9' %>
        </div>

      </div>
      <%= f.submit ("检测"), class: "btn btn-warning  col-md-1", id: "commit-button" %>
  </div>
  <% end %>


  <img src="/images/car.jpg" class="col-md-offset-1">
  <div class="container">
  </div>
</div>