<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.models.user') %>:</strong>
  <%= @user_record.user.email %>
</p>

<p>
  <strong><%= t('activerecord.models.auto_model') %>:</strong>
  <%= @user_record.auto_model.name %>
</p>
<p>
  <strong><%= t('purchasing_date') %>:</strong>
  <%= @user_record.purchasing_date %>
</p>
<p>
  <strong><%= t("mile") %>:</strong>
  <%= @user_record.mile %>
</p>

<%= link_to 'Edit', edit_user_record_path(@user_record) %> |
<%= link_to 'Back', user_records_path %>
