<link rel="stylesheet" href="/css/bootstrap-table.css">
<script src="/js/bootstrap-table.js"></script>
<section id="content">
  <div class="container">
    <% if user_signed_in? %>
      <p>
        <strong><%= t('activerecord.models.user') %>:</strong>
        <%= current_user.email %>
      </p>
    <% end %>


    <% @user_records.each do | user_record | %>
      <% current_model = user_record.auto_model.id %>
      <% mile = user_record.mile %>
      <% date = (Date.today - user_record.purchasing_date).to_i %>
      <% mile_step = get_step_from_mile mile %>
      <% date_step = get_step_from_date date %>
      <% step = (mile_step > date_step) ? mile_step : date_step %>
      <% service_items = ServiceItem.where("auto_model_id = :auto_model_id AND step = :step", auto_model_id: current_model, step: step) %>
      <table class="table table-condensed">
        <caption><%= t("list_car_maintenance_info") %></caption>
        <tbody>
        <tr>
          <td><%= t("activerecord.attributes.auto_model.name") %></td>
          <td><%= user_record.auto_model.name %></td>
        </tr>
        <tr>
          <td><%= t("mile") %></td>
          <td><%= user_record.mile %></td>
        </tr>
        <tr>
          <td><%= t("using_time") %></td>
          <td><%= date %></td>
        </tr>
        <tr>
          <% service_items.each do | service_item | %>
              <td><%= t("activerecord.attributes.service_item.name") %></td>
              <td><%= service_item.name %></td>
          <% end %>
        </tr>
        </tbody>


      </table>

    <% end %>
  </div>
</section>
