<h1>Listing service_items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration1</th>
      <th>Duration2</th>
      <th>Mile</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @service_items.each do |service_item| %>
      <tr>
        <td><%= service_item.name %></td>
        <td><%= service_item.duration1 %></td>
        <td><%= service_item.duration2 %></td>
        <td><%= service_item.mile %></td>
        <td><%= link_to 'Show', service_item %></td>
        <td><%= link_to 'Edit', edit_service_item_path(service_item) %></td>
        <td><%= link_to 'Destroy', service_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service item', new_service_item_path %>
