<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_item.name %>
</p>

<p>
  <strong>Duration1:</strong>
  <%= @service_item.duration1 %>
</p>

<p>
  <strong>Duration2:</strong>
  <%= @service_item.duration2 %>
</p>

<p>
  <strong>Mile:</strong>
  <%= @service_item.mile %>
</p>

<%= link_to 'Edit', edit_service_item_path(@service_item) %> |
<%= link_to 'Back', service_items_path %>
