<h1><%= t("list_car_maintenance_info") %></h1>


<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <article>
          <% @car_maintenance_infos.each do |car_maintenance_info| %>
            <div class="post-heading">
              <h3><%= car_maintenance_info.title %></h3>
            </div>
            <p>
              <%= car_maintenance_info.content %>
            </p>

            <div class="bottom-article">
              <%= link_to 'Show', car_maintenance_info %>
              <%= link_to 'Edit', edit_car_maintenance_info_path(car_maintenance_info) %>
              <%= link_to 'Destroy', car_maintenance_info, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>
<br>

<%= link_to t("new_car_maintenances_info"), new_car_maintenance_info_path %>
<%= paginate @car_maintenance_infos %>
