<section id="content">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t("activerecord.attributes.auto_model.name") %></strong>
      <%= @auto_model.name %>
    </p>

    <p>
      <strong><%= t("activerecord.attributes.auto_model.auto_model_photo") %></strong>
      <%= @auto_model.auto_model_photo %>
    </p>

    <p>
      <strong><%= t("activerecord.models.auto_brand") %></strong>
      <%= @auto_model.auto_brand.name %>
    </p>

    <%= link_to 'Edit', edit_auto_model_path(@auto_model) %> |
    <%= link_to 'Back', auto_models_path %>

  </div>
</section>
