<%= form_for(@customer_service_item_ship) do |f| %>
  <% if @customer_service_item_ship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_service_item_ship.errors.count, "error") %> prohibited this customer_service_item_ship from being saved:</h2>

      <ul>
      <% @customer_service_item_ship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :service_item_id %><br>
    <%= f.number_field :service_item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
