<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>养车帮</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="http://developer.amap.com/Public/css/demo.Default.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="/brand.png">养车帮
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= nav_link 'Home', user_path(current_user) %></li>
        <% else %>
          <li><%= nav_link 'Home', root_path %></li>
        <% end %>

        <li><%= nav_link '周围服务点' , service_stations_path %></li>
        <li><%= nav_link '保养问题' , car_maintenance_infos_path %></li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><%= link_to(t("exit"), destroy_user_session_path, :method => :delete) %></li>
            <li><%= link_to(t("change_password"), edit_registration_path(:user)) %></li>
            <% if can? :manager, :all %>
              <li><%= link_to t("manager"), user_administrations_path %></li>
            <% end %>
        <% else %>
            <li><%= link_to(t("sign_up"), new_registration_path(:user)) %></li>
            <li><%= link_to(t("log_in"), new_session_path(:user)) %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>

<div class="footer navbar-fixed-bottom">
  <div class="container">
    <p class="pull-right"><a href="#">返回顶部</a></p>
    <p>版权声明： 养车帮.</p>
  </div>
</div>

</body>
</html>
