<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>养车帮</title>

  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag params[:controller] %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/fwslider.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/slider.css" />
  <script src="/js/css3-mediaqueries.js"></script>
  <script src="/js/fwslider.js"></script>

  <script type="text/javascript" src="/js/modernizr.custom.28468.js"></script>
  <script type="text/javascript" src="/js/jquery.cslider.js"></script>

  <script type="text/javascript">
      $(function() {

          $('#da-slider').cslider({
              autoplay : true,
              bgincrement : 450
          });

      });
  </script>
  <script type="text/javascript">
      $(function() {

          $('#da-slider1').cslider({
              autoplay : true,
              bgincrement : 450
          });

      });
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header_bg">
  <div class="container">

    <div class="header">
      <header id="topnav">
        <nav>
          <ul>
            <% if user_signed_in? %>
                <li><%= nav_link 'Home', user_path(current_user) %></li>
            <% else %>
                <li><%= nav_link 'Home', root_path %></li>
            <% end %>
            <li><%= nav_link '周围服务点' , service_stations_path %></li>
            <li><%= nav_link '保养问题' , car_maintenance_infos_path %></li>
            <% if current_user %>
                <li><%= link_to(t("exit"), destroy_user_session_path, :method => :delete) %></li>
                <li><%= link_to(t("change_password"), edit_registration_path(:user)) %></li>
                <% if can? :manager, :all %>
                    <li><%= link_to t("manager"), user_administrations_path %></li>
                <% end %>
            <% else %>
                <li><%= link_to(t("sign_up"), new_registration_path(:user)) %></li>
                <li><%= link_to(t("log_in"), new_session_path(:user)) %></li>
            <% end %>
            <div class="clearfix"> </div>
          </ul>
        </nav>
        <h1><a href="/"><img src="/brand.png" alt=""/></a></h1>
        <a href="#" id="navbtn">Nav Menu</a>
        <div class="clearfix"> </div>
      </header>
    </div> <!-- div header -->
  </div> <!-- div container -->
</div> <!-- div header_bg -->

  <%= yield %>

  <div class="footer-top">
    <div class="container">
      <p class="pull-right"><a href="#">返回顶部</a></p>
      <p>版权声明： 养车帮.</p>
    </div>
  </div>

</body>
</html>
